// footer {
//     height: 16rem;
//     background-color: $color-dark-black;
//     @include respond(phone){
//         height: 14rem;
//     }
// }
.footer {
        height: 16rem;
        background-color: $color-dark-black;
        @include respond(phone){
            height: 14rem;
        }
    &-image {
        position: relative;
        top: -1rem;
        height:2rem;
    }
    &-text {
        font-family: Arial, Helvetica, sans-serif;
        color: $color-primary-white;
        font-size: 1.6rem;
        position: relative;
        text-align: center;
        margin: 4rem;
        @include respond(tab-land){
            // height: 30rem;
        }
        @include respond(phone){
            margin: 4rem 2rem 2rem 2rem;
            font-size: 1.4rem;
        }
    }
}